<div class="page-header container" id="banner">
   
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>EQCS</h1>
            <p class="lead">Exams Quality &amp; Compliance System</p>
        </div>
   
</div>