################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Development/01/BC.EQCS.Acceptance/bin/
/Development/01/BC.EQCS.Acceptance/obj/
*.vspscc
/Development/01/BC.EQCS.Contracts/bin/
/Development/01/BC.EQCS.Contracts/obj/
/Development/01/BC.EQCS.Db/bin
/Development/01/BC.EQCS.Db/obj/
/Development/01/BC.EQCS.Domain/bin/
/Development/01/BC.EQCS.Domain/obj/
/Development/01/BC.EQCS.Entities/bin/
/Development/01/BC.EQCS.Entities/obj/
/Development/01/BC.EQCS.Models/bin/
/Development/01/BC.EQCS.Models/obj/
/Development/01/BC.EQCS.Repositories/bin/
/Development/01/BC.EQCS.Repositories/obj/
/Development/01/BC.EQCS.Security.WebAPI/bin
/Development/01/BC.EQCS.Security.WebAPI/obj/
/Development/01/BC.EQCS.Utils/bin/
/Development/01/BC.EQCS.Utils/obj/
/Development/01/BC.EQCS.Web/bin
/Development/01/BC.EQCS.Web/obj/
/Development/01/BC.EQCS.Web.UI.StyleGuide/bin/
/Development/01/BC.EQCS.Web.UI.StyleGuide/obj/
/Development/01/BC.EQCS.Workflow/bin/
/Development/01/BC.EQCS.Workflow/obj/
/Development/01/BC.SELT.Db/bin/
/Development/01/BC.SELT.Db/obj/
/Development/01/BC.EQCS.sln.DotSettings.user
/Development/01/BC.EQCS.v11.suo
/Development/01/BC.EQCS.vssscc
/Development/01/BC.SELT.Db/BC.SELT.Database.dbmdl
/Development/01/BC.EQCS.Db/BC.EQCS.Database.dbmdl
/Development/01/BC.EQCS.DataTransfer/bin/
/Development/01/BC.EQCS.DataTransfer/obj/
/Development/01/BC.EQCS.UnitTests/bin/
/Development/01/BC.EQCS.UnitTests/obj/
/Development/01/BC.EQCS.Acceptance/BC.EQCS.Acceptance.csproj.user
/Development/01/BC.EQCS.Models/BC.EQCS.Models.csproj.user
/Development/01/BC.EQCS.Security/bin/
/Development/01/BC.EQCS.Security/obj/

/Development/01/BC.EQCS.Repositories/BC.EQCS.Repositories.csproj.user
/Development/01/BC.EQCS.v12.suo
/Development/01/BC.EQCS.Web/BC.EQCS.Web.csproj.user
/Development/01/BC.EQCS.Web/Scripts/*.test.html
/Development/01/BC.EQCS.Web.UnitTest/bin/
/Development/01/BC.EQCS.Web.UnitTest/obj/
/Development/01/BC.EQCS.Web.UnitTest/sandbox/*.test.html

/Development/01/BC.EQCS.Security/bin/
/Development/01/BC.EQCS.Security/obj/
/Development/01/BC.EQCS.Security/*.user
/Development/01/BC.EQCS.Security/obj/
/Development/02 - RoleSwitcher/RoleSwitcher/bin/
/Development/02 - RoleSwitcher/RoleSwitcher/obj/
/Development/02 - RoleSwitcher/*.suo
/Development/01/BC.EQCS.Web.UnitTest/BC.EQCS.Web.UnitTest.csproj.user
/Development/01/BC.EQCS.Web.UnitTest/*/*.test.html
/Development/01/BC.EQCS.Web.UnitTest/*/*/*.test.html

/Development/01/BC.EQCS.Models.Enums/bin
/Development/01/BC.EQCS.Models.Enums/obj

/Development/01/BC.EQCS.Models.Enums/BC.EQCS.Models.Enums.csproj.user

/Development/01/BC.EQCS.Models.Enums/bin/
/Development/01/BC.EQCS.Models.Enums/obj/
/Development/01/Deploy/_release
/Development/01/Deploy/_build
/Development/01/BC.EQCS.Models.Enums/BC.EQCS.Models.Enums.csproj.user
/Development/01/Deploy/_reports
/Development/01/BC.EQCS.Integration/obj
/Development/01/BC.EQCS.Integration/bin

/Development/01/BC.EQCS.Web.UI.StyleGuide/*.user
/Development/01/ActivityLog/bin/Debug
/Development/01/ActivityLog/obj/Debug
bin
obj
/Development/01/BC.EQCS.ActivityLog/bin/Debug
/Development/01/BC.EQCS.ActivityLog/obj/Debug
/Development/01/BC.EQCS.ActivityLog/bin/Debug
/Development/01/BC.EQCS.ActivityLog/obj/Debug
/Development/01/BC.EQCS.ActivityLog/bin
/Development/01/BC.EQCS.ActivityLog/obj
/Tests/_results
/Development/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppPhoneUnitTestExtension.pdb/72D71A29F6BF483BA009D257089081841/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppPhoneUnitTestExtension.pd_
/Development/01/BC.EQCS.Domain/BC.EQCS.Domain.csproj.user
/Development/01/BC.EQCS.Web/BC.EQCS.Web.csproj.DotSettings
/Development/01/BC.EQCS.Web/BC.EQCS.Web.csproj.DotSettings.user
/Development/01/BC.EQCS.ActivityLog/BC.EQCS.ActivityLog.csproj.user
*.user

